<div class="container" style="background-color:white ;padding: 10px;">
    <a href="\">
        <img src="images/logo.png" alt="logoBDL" width="70" height="70">
    </a>
    <input type="text" placeholder="Buscar producto" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
    <a href="login"><i class="fa fa-fw fa-user"></i> Cuenta</a>
          <a href="cart"><i class="fa fa-shopping-cart"></i>Carrito</a>
  </div>


 <!-- Navigation -->
<nav class="bar black">
<a href="#home" class="button bar-item">Home</a>
<a href="#todo" class="button bar-item">Todo</a>
<a href="#loMasVendido" class="button bar-item">Lo mas Vendido</a>
<a href="#ofertas" class="button bar-item">Ofertas</a>
</nav>