:root{
    --white: #ffffff;
    --black: #000000;
    --gray: #ede9e6;
    --yellow: #c6a152;
    --yellow-light: #967a3e;
    --pink: #c29480;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}

header,
main,
footer{
    margin: 0;
}

.header-2,
.header-2-2,
.cart-products,
.recommend-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-1{
    display: flex;
    align-items: center;
}

.header-1 .image,
.header-1 .form,
.header-1 .send,
.header-1 .config{
    flex-grow: 1;
}

.header-2{
    padding: 5%;
}

header{
    background-color: black;
    color: var(--gray);
    padding: 5%;
}

header img{
    width: 10vw;
}

i{
    padding-left: 2%;
    padding-right: 2%;
}

header .header-2 .options{
    flex-grow: 1;
}

header .header-2 .header-2-2{
    flex-grow: 4;
}

.header-2-2 .username{
    flex-grow: 1;
}

.header-2-2 .shop{
    flex-grow: 1;
}

.header-2-2 .options{
    flex-grow: 1;
}

/* CART */

main{
    background-color: white;
    padding: 5%;
    color: black;
}

main .product{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}

main .sum-prices{
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

main .price-col{
    text-align: center;
}

main .button{
    margin: auto;
    text-align: center;
}

main .button button{
    padding: 2%;
    background-color: var(--yellow);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 500ms;
}

main button:hover{
    background-color: var(--yellow-light);
}

main .product .article img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

main .product .article{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-grow: 5;
}

main .image{
    padding: 2%;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

main form input{
    width: 2vw;
    height: 2vw;
}

main .product .article .description{
    padding: 2%;
    flex-grow: 7;
    display: flex;
    flex-direction: column;
}

.description .name{
    padding-top: 3%;
    padding-bottom: 5%;
}

.description .quantity{
    padding-bottom: 15%;
}

.description .options{
    display: flex;
    justify-content: space-between;
}

main .product .price{
    padding-top: 4%;
    padding-bottom: 4%;
    flex-grow: 1;
    text-align: center;
}

main .price .discount{
    padding-top: 5%;
}

main .price .final-price{
    padding-top: 5%;
}

/* PRODUCT DESCRIPTION */

main .container{
    padding-top: 5%;
    display: flex;
}

main .container .photos{
    flex-grow: 1;
    display: flex;
}

main .container .photos .small-photos{
    display: flex;
    flex-direction: column;
}

main .container .photos .small-photos img{
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    padding-bottom: 10%;
    padding-right: 10%;
}

main .container .photos .main-photo img{
    width: 30vw;
    height: 30vw;
    object-fit: cover;
}

main .container .description{
    flex-grow: 1;
}

main .reviews{
    display: flex;
    justify-content: space-between;
}

main .review{
    padding: 5%;
}

main .review .user{
    padding-bottom: 20%;
    font-weight: 500;
}

main .review .text{
    font-size: small;
}

main .buttons{
    display: flex;
    align-items: baseline;
}

main .container .article{
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    margin: 2%;
}

main .container .article .upper-article{
    display: flex;
    flex-grow: 3;
}

main .container .article .lower-article{
    flex-grow: 1;
}

main .article .upper-article .description{
    font-size: large;
    font-weight: 700;
}

main .article .upper-article .model{
    font-size: smaller;
}

main .article .upper-article .price{
    margin-top: 5%;
    font-size: large;
}

main .article .upper-article .discount{
    font-size: small;
}

main .article .upper-article form{
    margin-top: 10%;
}

main .article .text{
    flex-grow: 5;
}

main .article .buttons{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main .article .lower-article{
    font-size: medium;
}

main .buttons button{
    width: 20vw;
    padding: 5%;
    background-color: var(--yellow);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: background-color 500ms;
}

main .buttons button:hover{
    background-color: var(--yellow-light);
}

footer{
    padding: 5%;
    background-color: var(--yellow);
    color: var(--gray);
}

footer .suggestions{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

<<<<<<< HEAD
.login-box{
    width: 280px;
    height: 350px;
    background: #c29480;
    color: #000000;
    top: 50%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 60px 10px;
    margin-top: 10px;         
 }

.login-box h1{
    margin-top: 25px;
    padding:0 0 20px;
    text-align: center;
    font-size: 21px;
}


.login-box input{
    width: 100%;
    margin-bottom: 10px;
}

.login-box input[type= "text"],
.login-box input[type= "password"]{
    border-bottom: 1px solid grey;
    background: white;
    height:40px;
    width: 230px;
    margin-left:25px;
    border-radius: 4px;
    border: 1px solid #967a3e;
    font-size: 18px;
    padding: 10px;
}

.login-box input[type="submit"]{
    height: 40px;
    width: 230px;
    margin-top:20px;
    margin-left:25px;
    background:black;
    color: white;
    font-size: 18px;
    border-radius: 4px;
}



.login-box a{
   font-size: 15px;
   line-height: 20px;
   color: white;
   text-decoration:none;
   padding:25px;
}

.login-box a:hover{
    color: white;
    text-decoration:underline;
    }


    .form-register{
        width: 300px;
        height: 410px;
        top: 60%;
        left: 40%;
        position: absolute;
        background: #c29480;
        padding:30px;
        margin-top: 10px; 
        border-radius: 4px;
        color:black;
        transform: translate(-50%, -50%);    
     }

    .form-register h4{
        font-size: 21px;
        margin-bottom: 20px;
        text-align: center;
    }

    .controls{
        width:100%;
        background: white;
        padding:10px;
        border-radius: 4px;
        margin-bottom: 14px;
        border: 1px solid #967a3e;
        font-size: 18px;
    }

    .form-register p{
        height: 10px;
        text-align: center;
        font-size:15px;
    }
    
    .form-register a{
        color: white;
        text-decoration:none;
    }
    
    .form-register a:hover{
        color:white;
        text-decoration: underline;
    }
    
    .form-register .botons{
        width:100%;
        background: black;
        border: none;
        padding:12px;
        color:white;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }



=======
footer .product{
    text-align: center;
}

footer .price{
    padding-top: 10%;
}

footer .name{
    padding-top: 5%;
}

footer img{
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}
>>>>>>> 8af8a853aa9d85cf99c233b67d9c2a48ba7dcd9a
