<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="Logo">
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más <i class="fa fa-search" id="submit"></i></div>
            </div>
            <div>
                Enviar
            </div>
            <div>
                Configuración
            </div>
        </div>
        <div>
            <div>
                Opciones
            </div>
            <div>
                <div>
                    Nombre de usuario
                </div>
                <div>
                    Opciones
                </div>
                <div>
                    Mis compras
                </div>
                <div>
                    íconos
                </div>
            </div>
        </div>
    </header>
    <main>
        <div>
            Carrito de compras
        </div>
        <div>
            <div>
                Contenedor 1
            </div>
            <div>
                Contenedor 2
            </div>
            <div>
                Contenedor 3
            </div>
        </div>
        <div>
            Continuar compra
        </div>
    </main>
    <footer>
        <div>
            Productos que pueden interesarte
            <div>
                Producto 1
            </div>
            <div>
                Producto 2
            </div>
            <div>
                Producto 3
            </div>
        </div>
    </footer>
    
</body>
</html>