<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
    <div class="container" style="background-color:white ;padding: 10px;">
		<a href="\">
            <img src="images/logo.png" alt="logoBDL" width="70" height="70">
        </a>
        <input type="text" placeholder="Buscar producto" name="search">
		<button type="submit"><i class="fa fa-search"></i></button>
		<a href="login"><i class="fa fa-fw fa-user"></i> Cuenta</a>
			  <a href="cart"><i class="fa fa-shopping-cart"></i>Carrito</a>
	  </div>
	

	 <!-- Navigation -->
<nav class="bar black">
	<a href="#home" class="button bar-item">Home</a>
	<a href="#todo" class="button bar-item">Todo</a>
	<a href="#loMasVendido" class="button bar-item">Lo mas Vendido</a>
	<a href="#ofertas" class="button bar-item">Ofertas</a>
  </nav>
    
    <div class = "login-box"> 
        <h1>Iniciar sesión</h1>
        <form>
        
            <input type = "text" placeholder="Usuario">
            <input type = "password" placeholder="Contraseña">
           <input type= "submit" value= "Log In">
           
           <a href="#">¿Contraseña olvidada?</a><br>
           <a href="#">¿Nuevo cliente?</a>
        </form>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>