<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="header-1">
            <div class="image">
                <a href="/">
                    <img src="/images/logo-black.jpeg" alt="Logo">
                </a>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar <i class="fa fa-search" id="submit"></i></div>
            </div>
            <div class="send">
                Enviar
            </div>
            <div class="config">
                <i class="fas fa-cog"></i>Configuración
            </div>
        </div>
        <div class="header-2">
            <div class="options">
                <i class="fas fa-list"></i> Opciones
            </div>
            <div class="header-2-2">
                <div class="username">
                    Nombre de usuario
                </div>
                <div class="shop">
                    Mis compras
                </div>
                <div class="options">
                    <i class="far fa-bell"></i>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h2>
            Descripción del producto
        </h2>
        <div class="container">
            <div class="photos">
                <div class="small-photos">
                    <img src="/images/img1.jpeg" alt="Producto">
                    <img src="/images/img1.jpeg" alt="Producto">
                    <img src="/images/img1.jpeg" alt="Producto">
                </div>
                <div class="main-photo">
                    <img src="/images/img1.jpeg" alt="Producto">
                </div>
            </div>
            <div class="article">
                <div class="upper-article">
                    <div class="text">
                        <div class="description">Artículo</div>
                        <div class="model">Modelo</div>
                        <div class="price">$500.00</div>
                        <div class="discount">Descuento 0%</div>
                        <div>
                            <form action="/" method="GET">
                                <select name="quantity" id="amount">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <label for="amount">Cantidad</label>
                            </form>
                        </div>
                    </div>
                    <div class="buttons">
                        <button>Agregar al carrito</button>
                        <button>Comprar artículo</button>
                    </div>
                </div>
                <div class="lower-article">
                    Este artículo cuenta con joyería de la más alta calidad, 
                    mostrando algunas piedras que lucen muy bien cuando se 
                    combinan con nuestros otros productos
                </div>
            </div>
        </div>
        <div class="reviews">
            <div class="review">
                <div class="user">Usuario 1</div>
                <div class="text">Opinión expresada por el usuario</div>
            </div>
            <div class="review">
                <div class="user">Usuario 1</div>
                <div class="text">Opinión expresada por el usuario</div>
            </div>
            <div class="review">
                <div class="user">Usuario 1</div>
                <div class="text">Opinión expresada por el usuario</div>
            </div>
            <div class="review">
                <div class="user">Usuario 1</div>
                <div class="text">Opinión expresada por el usuario</div>
            </div>
        </div>
    </main>
    <footer>
        <h2>
            Productos que pueden interesarte
        </h2>
        <div class="suggestions">
            <div class="product">
                <img src="/images/img2.jpeg" alt="Producto">
                <div class="price">$22.00</div>
                <div class="name">Artículo</div>
            </div>
            <div class="product">
                <img src="/images/img2.jpeg" alt="Producto">
                <div class="price">$22.00</div>
                <div class="name">Artículo</div>
            </div>
            <div class="product">
                <img src="/images/img2.jpeg" alt="Producto">
                <div class="price">$22.00</div>
                <div class="name">Artículo</div>
            </div>
        </div>
    </footer>
</body>
</html>