<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="header-1">
            <div class="image">
                <img src="/images/logo-black.jpeg" alt="Logo">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar <i class="fa fa-search" id="submit"></i></div>
            </div>
            <div class="send">
                Enviar
            </div>
            <div class="config">
                <i class="fas fa-cog"></i>Configuración
            </div>
        </div>
        <div class="header-2">
            <div>
                <i class="fas fa-list"></i> Opciones
            </div>
            <div class="header-2-2">
                <div class="username">
                    Nombre de usuario
                </div>
                <div class="shop">
                    Mis compras
                </div>
                <div class="options">
                    <i class="far fa-bell"></i>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
    </header>
    
</body>
</html>