<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/assets/css/not-found.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img src="/assets/img/bdl/logo.png" alt="">
                <h2>
                    Error 404</h2>
                <div class="error-details">
                    Lo sentimos, la página que busca no existe
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"> </span>
                           ¡Volvamos a comprar! </a>
                </div>
            </div>
        </div>
    </div>
</div>
