<!doctype html>
<%- include("../partials/header.ejs") %>


    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center"
                style="background-color: #9dc0df;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Nosotros</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- feature part here -->
        <section class="feature_part section_padding">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- <div class="col-lg-6">
                        <div class="feature_part_tittle">
                            <h3 style="text-align: justify;">Mady es una empresa mexicana de regalos personalizados</h3>
                        </div>
                    </div> -->
                    <div class="col-lg-12">
                        <div class="feature_part_content">
                            <p>Mady es una empresa mexicana de regalos personalizados que
                                se ajustan a toda ocasión. <br> Contamos con tazas, playeras, rompecabezas, gorras y
                                mucho
                                más. ¡Conócenos!</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- <div class="col-lg-3 col-sm-6">
                        <div class="single_feature_part">
                            <img src="assets/img/icon/feature_icon_1.svg" alt="#">
                            <h4>Credit Card Support</h4>
                        </div>
                    </div> -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_feature_part">
                            <img src="/assets/img/icon/feature_icon_2.svg" alt="#">
                            <h4>Ordena en línea</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_feature_part">
                            <img src="/assets/img/icon/feature_icon_3.svg" alt="#">
                            <h4>Entrega gratuita</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_feature_part">
                            <img src="/assets/img/icon/feature_icon_4.svg" alt="#">
                            <h4>Regalos a tu medida</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature part end -->

        <!-- client review part here -->
        <!-- client review part end -->
    </main>

    <%- include("../partials/footer.ejs") %>
        <script src="/assets/js/ajaxgetAllProducts.js"></script>
        </body>

        </html>