<!doctype html>


    <%- include("../partials/header.ejs") %>

    <main>
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg" style="background-image: url(&quot;assets/img/hero/category.jpg&quot;);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>product list</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Latest Products Start -->
        <section class="latest-product-area pt-80 pb-100">
            <div class="container">
                <div class="row product-btn d-flex justify-content-end align-items-end">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="section-tittle mb-30">
                            <h2>Products</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="properties__button f-right">
                            <!--Nav Button  -->
                            <nav>                                                                                                
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#man" role="tab" aria-controls="nav-profile" aria-selected="false">Man</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#women" role="tab" aria-controls="nav-contact" aria-selected="false">woman</a>
                                    <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#children" role="tab" aria-controls="nav-contact" aria-selected="false">children</a>
                                </div>
                            </nav>
                            <!--End Nav Button  -->
                        </div>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row" id="data">

                        </div>
                    </div>
                    <!-- card two -->
                    <div class="tab-pane fade" id="man" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row" id="manData">

                        </div>
                    </div>
                    <!-- card three -->
                    <div class="tab-pane fade" id="women" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row" id="womenData">

                        </div>
                    </div>
                    <!-- card four -->
                    <div class="tab-pane fade" id="children" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row" id="childrenData">

                        </div>
                    </div>
                </div>
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->

    </main>
    <%- include("../partials/footer.ejs") %>
   
	
        <script src="./assets/js/ajaxgetAllProducts.js"></script>
    </body>
</html>
